<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增基金费率以及净值数据')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-netWorth-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位净值年涨幅,单位为百分比：</label>
                <div class="col-sm-8">
                    <input name="lastYearGrowth" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "fund/netWorth"
        $("#form-netWorth-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-netWorth-add').serialize());
            }
        }
    </script>
</body>
</html>